diffrax
equinox
jax==0.4.30
flax==0.8.5
numpy<2.0.0
pydantic
typing
pandas
loguru
dateparser
pydateinfer
pytest
pytest-cov
pytest-lazy-fixture
scikit-learn
cython
xgboost
optax
tqdm
requests
sphinx_rtd_theme
myst_parser
